@model Inventory_Management_Systems.Models.ViewModel.InvoiceViewModel

@{
    ViewBag.Title = "Home Page";



}


<h2 style="text-align:center;color:dimgrey">AL-Sheikh Trading System</h2>
<div class="row col-12">
    <table>
        <tr>
            <th>
                Invoice Code
            </th>
            <td>
                <input type="date" />
            </td>


            <th>
                Invoice Date
            </th>
            <td>
                <input type="date" />
            </td>


            <th>
               Customer Name
            </th>
            <td>
              
                    <input type="text" value="" />
           
               
            </td>
        </tr>
    </table>

</div>






